![Logo kursu Python Level Up](https://raw.githubusercontent.com/daftcode/daftacademy-python_levelup-spring2020/master/logo.png)

![Plan kursu](https://raw.githubusercontent.com/daftcode/daftacademy-python_levelup-spring2020/master/program.png)

# T jak Tabela


### Wojciech Łuszczyński
### Python level up 2020
### 27.04.2020

# 1. Bazy danych

## 1.1 Baza danych

- Zbiór danych zapisanych zgodnie z ustalonymi regułami (Wiki)
- Baza danych jest zorganizowanym zbiorem danych , który przechowywany jest zazwyczaj w formie elektronicznej. (Na potrzeby tego kursy, jedynie elektronicznie)

## 1.2 Systemy zarządzania bazą danych (DBMS)

- Oprogramowanie służące do tworzenia i zarządzania bazami danych
- Sposób trzymania danych jest zależny od konkretnego systemu

## 1.3 Język SQL (Structured Query Language)

- Język służący do interakcji z __relacyjnymi bazami danych__
- SQL jest językiem __deklaratywnym__, oznacza to że opisuje efekt a nie proces. np Efektem będzie wynik zapytania napisanego w języku SQL, ale nie samo procesowanie zapytania które już należy do implementacji kontretnego __DBMS__ i jak zostało napisane
- (prawie) wszystkie relacyjne __DBMS__ wykorzystują __SQL__ jako podstawowy język zapytań

Przykłady relacyjnych systemów zarządzania bazą danych
- PostgreSQL (open source)
- MySQL (open source)
- SQLite (open source)
- Oracle
- Microsoft SQL Server
- IBM DB2
- Microsoft Access

## 1.4 SQLite

SQLite jest najprostszą relacyjną bazą danych, nie ma wielu zaawansowanych funkcjonalności ale jest w pełni kompatybilna z językiem SQL

- Działa na każdym systemie operacyjnym, nie ma prawie żadnych zależności systemowych
- Nie wymaga uruchamionego serwera bazy danych
- Nie wymaga żadnej dodatkowej konfiguracji
- Najczęściej używana baza danych na świecie https://www.sqlite.org/mostdeployed.html
- Cała baza danych zapisana jest w jednym pliku o konkretnym formacie (cross-platform)
- Obsługuje transakcje

### 1.4.1 Wygląd SQLowej baza danych, na przykładzie Chinook DB

![sqlite-sample-database-color.jpg](http://www.sqlitetutorial.net/wp-content/uploads/2015/11/sqlite-sample-database-color.jpg)

# 2. Struktura relacyjnej bazy danych

## 2.1 Tabela

- W bazie danych tabela jest obiektem zawierającym dane
- Tabela składa się z wierszy i kolumn
- Każda kolumna reprezentuje jakąś właściwość
- Każdy wiersz reprezentuje pojedynczy rekord

## 2.2 Kolumna

- reprezentuje właściwość rekordu (np. imię, nazwisko, identyfikator itp.)
- Ma określony typ, w SQLite to: 
    - NULL - Specjalny znacznik, który mówi o tym, że dana wartość nie jest ustawiona
    - INTEGER - Liczba załkowita
    - REAL - Liczba zmiennoprzecinkowa
    - TEXT - Tekst o nieogricznonej długości
    - BLOB - Obiekt binarny, może przechowywać dowolną wartość, teoretycznie nieograniczona wielkość
- https://www.sqlitetutorial.net/sqlite-data-types/

## 2.3 Constraint

- Dodatkowa cecha kolumny
- SQLite udostępnia następujące `Constraint`y
    - NOT NULL Constraint − Zapewnia brak wartości NULL w kolumnie.
    - DEFAULT Constraint − Pozwala na podanie wartości domyślnej.
    - UNIQUE Constraint − Zapewnie unikalność wpisu w kolumnie.
    - PRIMARY Key − Pozwala na unikalną indentyfikacje wiersza w tabeli.
    - CHECK Constraint − Zapewnia spełnienie warunku przez wartość w komórce.

### 2.3.1 PK - Primary Key

- Klucz główny dla tabeli
- Unikalny
- Posiada index
- Maksymalnie jeden

### 2.3.2 FK - Foreign Key

- Klucz obcy
- Wartość z pola z rekordu z innej tabeli, do którego "linkujemy"
- Musi być jednoznaczne
- Bardzo często PK innej tabeli

## 2.4 Index

- Struktura pozwalająca na szybsze wyszukiwanie wierszy w tabeli
- W przeciwieństwie do wiersza tabeli z kluczem głównym odziwerciedla wartość kolumny (lub kolumn) na klucz główny wiersza
- Zakłada się go na wybranej kolumnie (lub kilku)
- w SQLite zaimplementowane na B-drzewach (Balanced Tree)
    - https://pl.wikipedia.org/wiki/B-drzewo
    - http://www.sqlitetutorial.net/sqlite-index/
- `index` oraz `constraint` to inne mechanizmy w relacyjnych bazach danych choć "pod maską" mogą wydawać się identyczne

## 2.4 Relacje pomiędzy tabelami

### 2.4.1 One-One (1-1)

- Występuje kiedy jeden tylko wiersza Tabeli A może być referencją w jednym wierszu Tabeli B
- Stworzenie takiej relacji wymaga sprawdzenia unikalności referencji

### 2.4.2 One-Many (1-M)

- Występuje kiedy każdy z wierszy Tabeli B może posiadać referencje do jednego z wierszy z Tabeli A
- Nie potrzeba sprawdzać już unikalności takiej referencji jak w przypadku 1-1

### 2.4.3 Many-Many (M-M)

- Czasami potrzeba stworzyć referencje w której wiele przedmiotów jest przypisanych do innych.
- Technicznie potrzeba stworzyć trzecią tabelę pośredniczącą w takim przypisaniu.
- Każdy wiersz takiej tabeli pomocniczej zawiera parę kluczy publicznych obu tabel A i B.
- Dodatkowo takie przypisanie umożliwia przechowywanie dodatkowych opcji w tabeli pomocniczej. Np datę przypisania, czy inne metadane. Jest to rozwiązanie 'Customowe' i zależy tylko od programisty

# 3. sqlite3 w Pythonie

## 3.1 Ustanowienie połączenie z bazą danych

```python
import sqlite3
conn = sqlite3.connect('/path/to/database.db')
conn.close()
```

### 3.1.1 Dokumentacja

1. Oficjalna odkumentacja modułu sqlite3 w Python3 https://docs.python.org/3/library/sqlite3.html

## 3.1 Chinook

Przykładowa baza danych stworzona przez zespół odpowiedzialny za SQLite
- http://www.sqlitetutorial.net/sqlite-sample-database/

### 3.1.1 Pobieramy Chinook DB

- Bazę można pobrać pod adresem: 
    - http://www.sqlitetutorial.net/wp-content/uploads/2018/03/chinook.zip
- Następnie trzeba ją jedynie wypakować

### 3.1.2 Jak "dobrać się do danych"

In [10]:
import sqlite3

with sqlite3.connect('chinook.db') as connection:
    cursor = connection.cursor()
    tracks = cursor.execute("SELECT name FROM tracks").fetchall()
    print(len(tracks))
    print(tracks[:2])

3503
[('For Those About To Rock (We Salute You)',), ('Balls to the Wall',)]

- Bazę danych możemy otwierać tak jak pliki korzystając z bloku `with`
- Korzystając z `with` po zamknięciu programu mamy gwarancję zamknięcia bazy danych
- Tworzymy obiekt __Cursor__, który umożliwia nam wykonywanie poleceń na bazie
- Możemy na nim wykonywać operacje za pomocą metod 
    - __execute__ (jedna operacja)
    - __executemany__ (jeden rodzaj operacji z wieloma różnymi parametrami)
    - __executescript__ (ciąg operacji)

### 3.1.3 Dokumentacja

- https://docs.python.org/3/library/sqlite3.html#cursor-objects

### 3.1.4 Przydatne programy do edycji i przeglądania bazy SQLite

- http://sqlitebrowser.org/ <- bardzo przyjemny programik do obsługi bazy SQLite
- https://dbeaver.io/ <- Rozbudowany program do zarządzania wieloma bazami danych

## 3.2 Dostęp do bazy danych w aplikacji FastAPI

```python
import sqlite3
from fastapi import FastAPI

app = FastAPI()


@app.on_event("startup")
async def startup():
    app.db_connection = sqlite3.connect('chinook.db')


@app.on_event("shutdown")
async def shutdown():
    app.db_connection.close()


@app.get("/")
async def root():
    cursor = app.db_connection.cursor()
    ....
    return ...
```

- Połączenie do bazy danych tworzymy i trzymamy kontekście aplikacji, zamykamy połączenie przy niszczeniu kontekstu wykorzystując wewnętrzny mechanizm sygnałów FastAPI.
- Kluczowe tutaj jest stworzenie jednego połączenia do bazy danych oraz zamknięcie go na koniec działania serwera.

## 3.3 Asynchroniczny Dostęp do bazy danych w aplikacji FastAPI

```python
import aiosqlite
from fastapi import FastAPI

app = FastAPI()


@app.on_event("startup")
async def startup():
    app.db_connection = await aiosqlite.connect('chinook.db')


@app.on_event("shutdown")
async def shutdown():
    await app.db_connection.close()


@app.get("/data")
async def root():
    cursor = await app.db_connection.execute("....")
    data = await cursor.fetchall()
    return {"data": data}
```

- Istniej gotowa biblioteka asynchroniczna dla SQLite `aiosqlite`
- `aiosqlite` ma identyczne api jak biblioteka standardowa `sqlite3`
- Kluczowa różnica jest taka że program w tym momencie nie czeka na odpowiedź z dysku twardego.
- Połączenie z bazą danych jest chyba najlepszym przykładem wykorzystania asyncio w praktyce

## 3.3 Dlaczego gołe `SQL`-ki?

- Znajomość SQL jest kluczowa w pracy programisty
- ORM nie zawsze jest w stanie obsłużyć skomplikowane przypadku
- Dobrze jest wiedzieć co się dzieje "pod spodem" ORMa
- Znajomość SQLa ułatwia debugowanie problemów związanych z bazami danych
- Dla szkolenia z debugowania aplikacji bazodanowych
- W realnym świecie logowanie do bazy danych i wykonywanie poleceń nie powinno mieć miejsca, niemniej jest to codzienna praktyka, chociażby dlatego należy znać podstawy SQLa i dlaczego niektóre zapytania są niebezpieczne.

# 4. Język SQL

## 4.1 SELECT

Pobieranie konkretnych pól z wybranej tabeli:
```sql
SELECT {lista_pól} FROM {nazwa_tabeli};
```

np.

```sql
SELECT name, unitprice FROM tracks;
```

Pobieranie wszystkich pól wiesza (kolumn) z wybranej tabeli:
```sql
SELECT * FROM {nazwa_tabeli};
```

np.

```sql
SELECT * FROM tracks;
```

### 4.1.1 Przykład SELECT

- Stworzyć widok listy tytułów piosenek `/tracks`.
- Endpoint powinien zwrócić listę piosenek oraz ich ilość w postaci

```json
{
    "tracks": ["str", "str", "..."],
}
```

Wszystkie przykłady są zdeployowane tu: https://da-python-levelup-04-2020.herokuapp.com/

```python
@app.get("/tracks")
async def root():
    cursor = app.db_connection.cursor()
    tracks = cursor.execute("SELECT name FROM tracks").fetchall()
    return {
        "tracks": tracks,
    }
```

### 4.1.2 Pobieranie wyników zapytań

- __fetchall__ - zwraca listę wyników 
- __fetchone__ - zwraca jeden (następny) wynik, jeżeli nie znalazł wyniku zapytania zwraca `None`
- __fetchmany__(size=cursor.arraysize) - zwraca listę max `size` wyników, w przypadku braku wyników zwraca pustą listę
    - domyślnie `cursor.arraysize=1`

### 4.1.3 Typy w wyniku

- Domyślnie wiersz przedstawiony jest jako `tuple` wartości poszczególnych kolumn w kolejności o jaką pytamy np:
    - zapytanie `SELECT name, composer FROM tracks;`
    - zwróci listę tupli `[(name, composer), ...]`

- Kolumny "zachowują" swój typ z bazy danych zgodnie z relacją: 
    - NULL -> None
    - INTEGER -> int
    - REAL -> float
    - TEXT -> str (domyślnie, zależy od `text_factory`)
    - BLOB -> bytes
    - https://docs.python.org/3/library/sqlite3.html#sqlite-and-python-types

- Wygodniejszy sposób przeglądania wyników możliwy jest wykorzystując nazwy kolumn w obiekcie słownika. Osiągnąć to można ustawiając na obiekcie połączenia do bazy danych lub kursora `row_factory`
    - ```python
db.row_factory = sqlite3.Row
```
        - Dzięki temu dostęp do tytułu piosenki się za pomocą `track[„name”]` zamiast `track[0]`

- Możliwe jest definiowanie własnych `row_factory`
    - np:
        ```python
        db.row_factory = lambda cursor, x: x[0]
        ```
        - `row_factory` to funkcja przyjmująca 2 wartości:
            - obiekt kursora
            - konkretny wiersz z bazy danych
    
    - dokumentacja: https://docs.python.org/3/library/sqlite3.html#sqlite3.Connection.row_factory

### 4.1.4 Skrót kursora

- Możliwością jest skorzystanie ze "skrótu", można uruchomić polecenie `execute` od razu na obiekcie połączenia `Connection`, bez tworzenia wprost obiektu `Cursor`
- Takie zapytanie tworzy obiekt `cursor` niejawnie

```python
@app.get("/tracks")
async def root():
    tracks = app.db_connection.execute("SELECT name FROM tracks").fetchall()
    return {
        "tracks": tracks,
        "tracks_counter": len(tracks)
    }
```

## 4.2 SELECT ... WHERE

Filtrowanie :
```sql
SELECT {lista_pól} FROM {nazwa_tabeli} WHERE {warunek};
```

np.

```sql
SELECT title, artistid FROM albums WHERE albumid = 1;
```

Więcej przykładów: http://www.sqlitetutorial.net/sqlite-where/

### 4.2.1 Przykład 2

- Stworzyć widok pojedynczego utworu o url `/tracks/<track_id>`.
- Endpoint powinien zwrócić pola `name` oraz `composer`

```json
{
    "Name": "name", 
    "Composer": "composer"
}
```

```python
@app.get("/tracks/{track_id}")
async def single_track(track_id: int):
    app.db_connection.row_factory = sqlite3.Row
    data = app.db_connection.execute(
        f"SELECT name, composer FROM tracks WHERE trackid = {track_id}").fetchone()

    return data
```

### 4.2.2 Wstawianie zmiennych do zapytania

```python
@app.get("/tracks/{track_id}")
async def single_track(track_id: int):
    app.db_connection.row_factory = sqlite3.Row
    data = app.db_connection.execute(
        "SELECT name, composer FROM tracks WHERE trackid = ?", (track_id, )).fetchone()

    return data
```

```python
@app.get("/tracks/{track_id}")
async def single_track(track_id: int):
    app.db_connection.row_factory = sqlite3.Row
    data = app.db_connection.execute(
        "SELECT name, composer FROM tracks WHERE trackid = :track_id",
        {'track_id': track_id}).fetchone()

    return data
```

- `?` placeholder "pozycyjny" - pod kolejne znaki zapytania podstawiane są kolejne wartości z tupli
- `:nazwa` to "keyword" placeholder, jako drugi argument to `execute` przekazujemy słownik; dane są podstawiane na podstawie kluczy ze słownika

## 4.3 JOIN

Łączenie tabel ze sobą :
```sql
SELECT {lista_pól} FROM {nazwa_tabeli}
JOIN {nazwa_innej_tabeli} ON {warunek_joina}
(opcjonalnie) WHERE {warunek};
```

np.

```sql
SELECT tracks.name, artists.name FROM tracks
JOIN albums ON tracks.albumid = albums.albumid
JOIN artists ON albums.artistid = artists.artistid;
```

- Istnieją różne typy JOINów:
    - `LEFT JOIN`
    - `RIGHT JOIN`
    - `INNER JOIN`
    - `CROSS JOIN`
    - `FULL JOIN`
    - `INNER LEFT JOIN`
    - `INNER RIGHT JOIN`
    - `NATURAL JOIN`
    - ....
- Dobre przykłady: https://www.w3schools.com/sql/sql_join.asp
- Świetne objaśnienia: https://blog.codinghorror.com/a-visual-explanation-of-sql-joins/
- Będziemy się zajmować najczęstszym przypadkiem po prostu `JOIN`

### 4.3.1 Przykład 3

- Dodaj widok listy utworów rozszerzony o wykonawcę płyty z której utwór pochodzi - `/tracks_with_artist`.
- Docelowy format odpowiedzi
```json
[
    {
        "track_name": "track_name", 
        "album_artist": "album_artist"
    },
    {
        "track_name": "track_name", 
        "album_artist": "album_artist"
    }
    ...
]
```

```python
@app.get("/tracks_with_artist")
async def tracks_with_artist():
    app.db_connection.row_factory = sqlite3.Row
    data = app.db_connection.execute('''
     SELECT tracks.name AS track_name, artists.name AS album_artist FROM tracks
     JOIN albums ON tracks.albumid = albums.albumid
     JOIN artists ON albums.artistid = artists.artistid;
     ''').fetchall()
    return data
```

## 4.4 LIMIT, OFFSET, ORDER BY

Pobranie rekordów w określonej kolejności
```sql
SELECT {lista_pól} FROM {nazwa_tabeli} ORDER BY {nazwa_pola};
```

Np.

```sql
SELECT * FROM employees ORDER BY lastname;
```

Pobranie ograniczonej liczby rekordów
```sql
SELECT {lista_pól} FROM {nazwa_tabeli} LIMIT {liczba_rekordów};
```

Np.
```sql
SELECT * FROM customers LIMIT 10;
```

Pobranie ograniczonej liczby rekordów z pominięciem pierwszych
```sql
SELECT {lista_pól} FROM {nazwa_tabeli} LIMIT {liczba_rekordów} OFFSET {liczba_pominiętych_rekordów};
```

Np.
```sql
SELECT * FROM customers LIMIT 10 OFFSET 20;
```

Warto doczytać:
- http://www.sqlitetutorial.net/sqlite-limit/

### 4.4.1 Przykład 4

- Dodaj widok listy utworów rozszerzony o wykonawcę płyty z której utwór pochodzi - `/tracks_with_artists_order` posortowaną po nazwie wykonawcy
- Docelowy format odpowiedzi taki sam jak w przykładzie nr 3:
```json
[
    {
        "track_name": "track_name", 
        "album_artist": "album_artist"
    },
    {
        "track_name": "track_name", 
        "album_artist": "album_artist"
    }
    ...
]
```

```python
@app.get("/tracks_with_artists_order")
async def tracks_with_artists_order():
    app.db_connection.row_factory = sqlite3.Row
    data = app.db_connection.execute('''
     SELECT tracks.name AS track_name, artists.name AS album_artist FROM tracks
     JOIN albums ON tracks.albumid = albums.albumid
     JOIN artists ON albums.artistid = artists.artistid
     ORDER BY artists.name;
     ''').fetchall()
    return data
```

## 4.5 INSERT

### 4.5.1  Przykład 5

- Stwórz widok dodawania nowego wykonawcy `/artists/add` oraz widok listy wykonawców `/artists`.
- Docelowe formaty komunikacji
    - `/artists/edit/{artists_id}`
        - zapytania:
        ```json
        {
            "name": "artist_name"
        }
        ```
        - odpowiedzi
        ```json
        {
            "artist_id": new_id, 
            "artist_name": "artist_name"
        }
        ```
    - `/artists`
        - odpowiedzi
        ```json
        [
            "artist_name", "artist_name", "artist_name",  ...
        ]
        ```

```python
@app.get("/artists")
async def artists():
    app.db_connection.row_factory = lambda cursor, x: x[0]
    artists = app.db_connection.execute("SELECT name FROM artists").fetchall()
    return artists
```

```python
from pydantic import BaseModel


class Artist(BaseModel):
    name: str

@app.post("/artists/add")
async def artists_add(artist: Artist):
    cursor = app.db_connection.execute(
        f"INSERT INTO artists (name) VALUES {artist.name}",
    )
    app.db_connection.commit()
    return {
        "artist_id": cursor.lastrowid,
        "artist_name": artist.name
    }
```

### 4.5.2 Co z tym kodem jest nie tak?

```md
SQL Injection
```

![xkcd SQL Injection comic](https://imgs.xkcd.com/comics/exploits_of_a_mom.png )

Źródło: https://imgs.xkcd.com/comics/exploits_of_a_mom.png

https://xkcd.com/327/

### 4.5.3 Poprawna wykonanie `inserta`

```python
@app.post("/artists/add")
async def artists_add(artist: Artist):
    cursor = app.db_connection.execute(
        "INSERT INTO artists (name) VALUES (?)", (artist.name, )
    )
    app.db_connection.commit()
    new_artist_id = cursor.lastrowid
    app.db_connection.row_factory = sqlite3.Row
    artist = app.db_connection.execute(
        """SELECT artistid AS artist_id, name AS artist_name
         FROM artists WHERE artistid = ?""",
        (new_artist_id, )).fetchone()

    return artist
```

## 4.6 UPDATE

Aktualizacja wszystkich wierszy z tabeli
```sql
UPDATE {nazwa_tabeli} SET {nazwa_pola} = {wartość_pola}; 
```

Aktualizacja wybranych wierszy
```sql
UPDATE {nazwa_tabeli} SET {nazwa_pola} = {wartość_pola} WHERE {warunek}
```

np:
```sql
UPDATE artists SET name = UPPER(name)
```

### 4.6.1 Przykład 6

- Stwórz widok edycji wykonawcy `/artists/edit/{artists_id}`
- Docelowe formaty komunikacji
    - `/artists/edit/{artists_id}`
        - zapytania:
        ```json
        {
            "name": "artist_name"
        }
        ```
        - odpowiedzi
        ```json
        {
            "artist_id": new_id, 
            "artist_name": "artist_name"
        }
        ```

```python
@app.put("/artists/edit/{artist_id}")
async def artists_add(artist_id: int, artist: Artist):
    cursor = app.db_connection.execute(
        "UPDATE artists SET name = ? WHERE artistid = ?", (artist.name, artist_id)
    )
    app.db_connection.commit()

    app.db_connection.row_factory = sqlite3.Row
    artist = app.db_connection.execute(
        """SELECT artistid AS artist_id, name AS artist_name
         FROM artists WHERE artistid = ?""",
        (artist_id, )).fetchone()

    return artist
```

## 4.7 DELETE

Usunięcie wszystkich wierszy z tabeli
```sql
DELETE FROM {nazwa_tabeli};
```

Usunięcie wybranych wierszy
```sql
DELETE FROM {nazwa_tabeli} WHERE {warunek};
```

### 4.7.1 Przykład 7

- Dodaj możliwość usunięcia wybranego wykonawcy `/artists/delete/{artist_id}`
- Odpowiedź podaj w formacie:
```json
{
    "deleted": int # ilość usuniętych wierszy z bazy danych
}
```

```python
@app.delete("/artists/delete/{artist_id}")
async def artist_delete(artist_id: int):
    cursor = app.db_connection.execute(
        "DELETE FROM artists WHERE artistid = ?", (artist_id, )
    )
    app.db_connection.commit()
    return {"deleted": cursor.rowcount}
```

## 4.8 Funkcje agregujące

- MIN
- MAX
- SUM
- AVG
- COUNT
- COUNT(*)

Wykonanie funkcji agregującej dla wybranej kolumny
```sql
SELECT {funkcja_agregująca}( {kolumna} ) FROM {tabela};
```

Np: najmniejszy objętościowo plik z kawałekiem `bytes` z tabeli `tracks`
```sql
SELECT MIN(bytes) FROM tracks;
```

Zliczenie wszystkich wierszy w tabeli
```sql
SELECT COUNT(*) FROM {tabela};
```

Np.
```sql
SELECT COUNT(*) FROM tracs;
```

### 4.8.1 Przykład 8

- Dodaj widok listy artystów wraz z ich licznikiem wg formatu:
- Endpoint powinien zwrócić listę artystów oraz ich ilość w postaci

```json
{
    "artists": [str, str, ...],
    "artists_counter": int
}
```

```python
@app.get("/artists_count")
async def root():
    app.db_connection.row_factory = lambda cursor, x: x[0]
    artists = app.db_connection.execute("SELECT name FROM artists ORDER BY name DESC").fetchall()
    count = app.db_connection.execute('SELECT COUNT(*) FROM artists').fetchone()

    return {
        "artists": artists,
        "artists_counter": count
    }
```

### 4.8.2 Porównanie wydajności SQL-owego AVG z obliczeniami w Pythonie

In [3]:
import timeit

In [40]:
ab_avg = timeit.timeit(
    "c.execute('SELECT AVG(albumid) FROM tracks').fetchone()",
    setup="import sqlite3;conn = sqlite3.connect('chinook.db');c = conn.cursor();",
    number=1000
)

In [41]:
python_avg = timeit.timeit(
    "result = c.execute('SELECT albumid FROM tracks').fetchall(); l = [r[0] for r in result]; sum(l) / len(l)",
    setup="import sqlite3;conn = sqlite3.connect('chinook.db');c = conn.cursor();",
    number=1000
)

In [42]:
# Wynik:
print(f"{ab_avg=}")
print(f"{python_avg=}")
print(f"różnica: ~{int(python_avg/ab_avg)}x szyciej")

ab_avg=0.204491885000607
python_avg=1.6844855979943532
różnica: ~8x szyciej

## 4.9 CREATE TABLE

Tworzenie tabeli
```sql
CREATE TABLE {nazwa_tabeli} ({lista_pól});
```

- Przykład: 

```sql
CREATE TABLE actor (
  actor_id INTEGER NOT NULL PRIMARY KEY ,
  first_name TEXT,
  last_name TEXT,
  last_update INTEGER,
  social_security_no INTEGER
);
```

- Możemy użyć wszystki constraintów w trakcie deklaraci tabeli
    - NOT NULL Constraint
    - DEFAULT Constraint
    - UNIQUE Constraint
    - PRIMARY Key
    - CHECK Constraint

- Przykład: 

```sql
CREATE TABLE actor (
  actor_id INTEGER NOT NULL PRIMARY KEY ,
  first_name TEXT NOT NULL,
  last_name TEXT NOT NULL DEFAULT "KOWALSKI",
  last_update INTEGER NOT NULL,
  social_security_no INTEGER UNIQUE CHECK(social_security_no > 10000000)
);
```

https://www.sqlite.org/lang_createtable.html

## 4.10 CREATE INDEX

Tworzenie indeksu
```sql
CREATE INDEX {nazwa_indeksu} ON {nazwa_tabeli}({nazwa_pola});
```

Przykłady:

```sql
CREATE INDEX idx_customers_lastname ON customers(lastname);
```

```sql
CREATE UNIQUE INDEX idx_customers_full_name ON customers(firstname, lastname);
```

https://www.sqlite.org/lang_createindex.html

## 4.11 ALTER TABLE

Wprowadzenie zmian w istniejącej tabeli. Np. dodawanie nowej kolumny.

Zmiana kolumn w tabeli
```sql
ALTER TABLE {nazwa_tabeli} {zmiana};
```

Przykłady:

```sql
ALTER TABLE artists ADD COLUMN band_name TEXT;
```

https://www.sqlite.org/lang_altertable.html

## 4.12 DROP TABLE

Usunięcie tabeli

```sql
DROP TABLE {nazwa_tabeli};
```

np.
```sql
DROP TABLE playlists;
```

https://www.sqlite.org/lang_droptable.html

# 5. Deploy na Heroku

- __SQLite__ na __Heroku__? Nie jest to najlepszy pomysł https://devcenter.heroku.com/articles/sqlite3
- Wystarczy wypchnąć dodatkowo plik z bazą danych na Heroku
- Problem: Wprowadzane w nim zmiany będą wymazywane, przynajmniej raz na 24h - po każdym deployu, restarcie i co około 24h z powodu tego , jak Heroku zarządza swoimi `dynos`
- Co z tym robimy? Na tych zajęciach nic
- Dobre rozwiązanie? Korzystanie z __Heroku Postgres__ https://elements.heroku.com/addons/heroku-postgresql zamiast z __sqlite__ ale to już na kolejnych zajęciach

# 6. EXTRA

## 6.1 Sakila - Inna baz danych stworzona do testowania

- Przykładowa baza danych stworzona przez zespół odpowiedzialny za MySQL, jest dużo większa od Chinook
    - https://dev.mysql.com/doc/sakila/en/sakila-introduction.html
- Pobieramy:
    - https://github.com/jOOQ/jOOQ/raw/master/jOOQ-examples/Sakila/sqlite-sakila-db/sqlite-sakila-schema.sql
    - https://github.com/jOOQ/jOOQ/raw/master/jOOQ-examples/Sakila/sqlite-sakila-db/sqlite-sakila-insert-data.sql

- Następnie wykonujemy:

```python
import sqlite3

conn = sqlite3.connect('/path/to/database.db')
c = conn.cursor()

with open('sqlite-sakila-schema.sql', 'r', encoding='utf-8') as create_file:
    create_query = create_file.read()
with open('sqlite-sakila-insert-data.sql', 'r', encoding='utf-8') as insert_file:
    insert_query = insert_file.read()

c.executescript(create_query)
c.executescript(insert_query)

conn.commit()
conn.close()
```

## 6.2 Tips & Tricks

- Skrypt z insertami wolno działa? http://www.sqlite.org/faq.html#q19
- Rozwiązanie: http://www.sqlite.org/lang_transaction.html
    - bez BEGIN TRANSACTION; .. COMMIT; - 2h10min
    - z BEGIN TRANSACTION; .. COMMIT; - kilkanaście sekund

## 6.3 Tutoriale

- Interaktywny webowy tutorial SQL: https://sqlbolt.com/